**/.DS_Store
*pem
.nrepl-port
.rebel_readline_history
/.cpcache
/.sass-cache
/.shadow-cljs
/node_modules
/resources/cider-ci/public/js/
/resources/cider-ci/public/css/
/target
/tmp
resources/built-info.yml
